<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><title>My App</title><link rel="stylesheet" href="../../packages/core/css/framework7.bundle.min.css"><link rel="stylesheet" href="../../css/framework7-icons.css"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head><body><div id="app"></div><template id="app-template"><f7-app>
  <f7-view main>
    <f7-page>
      <f7-navbar title="Skeleton"></f7-navbar>


      <f7-block-title>Skeleton List</f7-block-title>
      <f7-list media-list class="skeleton-text">
        <f7-list-item
          title="Title"
          subtitle="Subtitle"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum."
        >
          <f7-skeleton-block style="width: 40px; height: 40px; border-radius: 50%" slot="media"></f7-skeleton-block>
        </f7-list-item>
        <f7-list-item
          title="Title"
          subtitle="Subtitle"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum."
        >
          <f7-skeleton-block style="width: 40px; height: 40px; border-radius: 50%" slot="media"></f7-skeleton-block>
        </f7-list-item>
      </f7-list>

      <f7-block-title>Skeleton Card</f7-block-title>
      <f7-card
        class="skeleton-text"
        title="Card Header"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit."
        footer="Card Footer"
      ></f7-card>

      <f7-block strong>
        <p>It supports few loading effects:</p>
        <f7-row tag="p">
          <f7-button fill small round class="col" @click="load('fade')">Fade</f7-button>
          <f7-button fill small round class="col" @click="load('blink')">Blink</f7-button>
          <f7-button fill small round class="col" @click="load('pulse')">Pulse</f7-button>
        </f7-row>
      </f7-block>
      <f7-list media-list v-if="loading">
        <f7-list-item
          v-if="loading"
          v-for="n in 3"
          :key="n"
          :class="`skeleton-text skeleton-effect-${effect}`"
          title="Full Name"
          subtitle="Position"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim."
        >
          <f7-skeleton-block style="width: 40px; height: 40px; border-radius: 50%" slot="media"></f7-skeleton-block>
        </f7-list-item>
      </f7-list>
      <f7-list media-list v-else>
        <f7-list-item
          title="John Doe"
          subtitle="CEO"
          text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim."
        >
          <img src="https://placeimg.com/80/80/people/1" style="width: 40px; height: 40px; border-radius: 50%" slot="media">
        </f7-list-item>
        <f7-list-item
          title="Jane Doe"
          subtitle="Marketing"
          text="Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim."
        >
          <img src="https://placeimg.com/80/80/people/2" style="width: 40px; height: 40px; border-radius: 50%" slot="media">
        </f7-list-item>
        <f7-list-item
          title="Kate Johnson"
          subtitle="Admin"
          text="Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim."
        >
          <img src="https://placeimg.com/80/80/people/3" style="width: 40px; height: 40px; border-radius: 50%" slot="media">
        </f7-list-item>
      </f7-list>

    </f7-page>
  </f7-view>
</f7-app>

</template><script>var component = {
  data: function () {
    return {
      loading: false,
      effect: null,
    }
  },
  methods: {
    load: function (effect) {
      var self = this;
      if (self.loading) return;
      self.effect = effect;
      self.loading = true;
      setTimeout(() => {
        self.loading = false;
      }, 3000);
    }
  }
}</script><script src="https://cdn.jsdelivr.net/npm/vue"></script><script src="../../packages/vue/framework7-vue.bundle.min.js"></script><script src="../../packages/core/js/framework7.bundle.min.js"></script><script>var theme = 'ios';
if (location.href.indexOf('theme=md') >= 0) theme = 'md';
if (location.href.indexOf('theme=aurora') >= 0) theme = 'aurora';

if (Framework7.use) Framework7.use(Framework7Vue, { theme: theme });
else if (Framework7.Class && Framework7.Class.use) Framework7.Class.use(Framework7Vue, { theme: theme });

var plugin = {
  params: {
    theme: theme,
  }
};

if (Framework7.use) Framework7.use(plugin);
else if (Framework7.Class && Framework7.Class.use) Framework7.Class.use(plugin);

if (typeof component === 'undefined') {
  var component = {};
}
if (typeof routes === 'undefined') {
  var routes = [];
}
component.el = '#app';
component.template = '#app-template';

new Vue(component);</script></body></html>